.manage-container {
    max-width: 1000px;
    margin: 60px auto;
    padding: 20px;
}

.manage-container h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
}

.manage-container h3{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.tab-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.tab-menu button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.1s ease;
}

.tab-menu button.active {
    border-bottom: 2px solid #91C1E5;
    color: #91C1E5;
}

.background-container{
    max-width: 1000px;
    margin: 40px auto;
    padding: 24px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}