.data-page {
    padding-left: 300px;
    padding-right: 300px;
}

@media screen and (max-width: 1200px) {
    .data-page {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 768px) {
    .data-page {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 480px) {
    .data-page {
        padding-left: 20px;
        padding-right: 20px;
    }
}
